@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
body{
    background-color: #1F1F2F;
    color: white;
    font-family: "Happy Monkey", system-ui;
}
.highlight {
    background-color: #fc5671;  /* Change the background color */
    /* You can also add additional styling, like a line */
    border: 2px solid gold;
    /* Or even add a visual line overlay if you want */
  }